
<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Producto</title>

  <link rel="stylesheet" th:href="@{/css/RegistroProd.css}">
  <link rel="shortcut icon" th:href="@{/img/logoCityHunter.png}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Dentro de la sección <head> -->

</head>

<body  style="background-image: url(/img/paredLadrillo.jpg);">
<nav class="navbar" style="background-color: black;" >
  <div class="container-fluid"   style="background-image: url(/img/BannerPG.png);background-size: cover ; height: 100px;">
    <p class="navbar-brand" >

    </p>
    <div th:if="${user != null}" class="login">


      <a class="botonMenu" th:href="@{#}">Ventas</a>
      <a class="botonMenu" th:href="@{/listarAgenAdmin}">Servicio Tecnico</a>
      <a class="botonMenu" th:href="@{/productos}">Inventario</a>

      <a class="botonMenu" th:href="@{'cerrarSesion/'+${user.id}}">Cerrar Sesion</a>

      <a th:text="${user.nombre}" style="color: white; font-family: Calibri"></a>

      <a  th:href= "@{'editUser/'+${user.id}}" class="navbar-brand" href="#">
        <img src="/img/avatar.png" alt="" width="50" height="45 ">

      </a>


    </div>
    <div th:unless="${user != null}">

    </div>


  </div>
</nav>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2" >
        <div class="izquierda">
          <div class="input-group mb-3">
            <button class="btn btn-danger" type="button" id="button-addon2"> <a th:href="@{/productos}"  style="text-decoration: none; color:white" >Atras</a></button>

          </div>
          <div th:if="${error!= null}">
            <p th:text="${error}"></p>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8" style="background-color:#9e9696;">
        <div class=" derecha">
            <h4>Registrar Producto</h4>
          <form th:action="@{/selectCategoria}" th:object="${producto}" method="POST" enctype="multipart/form-data">

          <div class="container pd-2">
                        <div class="row">



                    <div class=" mb-2 mr-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


                      <span class="input-group-text" id="inputGroup-sizing-default">Categoria</span>

                      <select class="form-select" th:field="*{categoria.id}"  name="category" id="inputGroupSelectCategoria" onchange="updateCapacidadOptions()">
                        <option  selected th:each="categoria : ${categoria}" th:value="${categoria.id}"  th:text="${categoria.nombre}" ></option>
                      </select>



                      </div>

                    </div>
                    </div>
                 <input th:field="*{id}" type="hidden">
            <input th:field="*{nombre}" type="hidden">
            <input th:field="*{estado}" type="hidden">
            <input th:field="*{talla_capacidad}" type="hidden">
            <input th:field="*{genero_modelo}" type="hidden">
            <input th:field="*{disenho}" type="hidden">
            <input th:field="*{cantidad}" type="hidden">
            <input th:field="*{garantia}" type="hidden">
            <input th:field="*{imagen}" type="hidden">
            <input th:field="*{novedades}" type="hidden">
            <input th:field="*{precio}" type="hidden">




                      <div class="d-grid gap-2">
                        <button class="btn btn-danger" type="submit">Registrar </button>

                      </div>

                    </form>
        </div>
      </div>
    </div>

  </div>
<script>

  /*  function updateCapacidadOptions() {
        var categoriaSelect = document.getElementById("inputGroupSelectCategoria");
        var capacidadSelect = document.getElementById("inputGroupSelectCapacidad");

        // Obtener el valor seleccionado de la categoría
        var selectedCategoria = categoriaSelect.value;

        // Limpiar las opciones actuales en el select de capacidad
        while (capacidadSelect.firstChild) {
            capacidadSelect.removeChild(capacidadSelect.firstChild);
        }

        // Añadir las opciones de capacidad asociadas a la categoría seleccionada
        var capConsolasArray =JSON.parse(capCosolsas);

        for (var i = 0; i < capConsolasArray.length; i++) {
            if (capConsolasArray[i].categoria.id == selectedCategoria) {
                var option = document.createElement("option");
                option.value = capConsolasArray[i].id;
                option.text = capConsolasArray[i].nombre;
                capacidadSelect.appendChild(option);
            }
        }
    }
*/
</script>

</body>

</html>